/* Containers */
body {  font-size: 12px; }
.contenu{ width:95%; margin: auto;}
p{
  font-size: 1.1em;
}
/* Mobile */
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_2_4 {
  width:100%;
}

.offset_1,
.offset_2,
.offset_3,
.offset_4,
.offset_5,
.offset_6,
.offset_7,
.offset_8,
.offset_9,
.offset_10,
.offset_11,
.offset_12 {
  margin-left: 0 !important;
}
